@font-face {
    font-family: 'hankenextrabold';
    src: url('/assets/fonts/static/HankenGrotesk-ExtraBold.ttf');
}

@font-face {
    font-family: 'hankenmedium';
    src: url('/assets/fonts/static/HankenGrotesk-Medium.ttf');
}

@font-face {
    font-family: ('hankenbold');
    src: url('/assets/fonts/static/HankenGrotesk-Bold.ttf');
}

.box {
    display: flex;
    position: relative;
}

.primerdiv {
    position: absolute;
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    width: 368px;
    height: 512px;
    border-radius: 26px 26px 26px 26px;
    -moz-border-radius: 26px 26px 26px 26px;
    -webkit-border-radius: 26px 26px 26px 26px;
}

.segundodiv {
    position: absolute;
    background: whitesmoke;
    width: 736px;
    height: 512px;
    border-radius: 26px 26px 26px 26px;
    -moz-border-radius: 26px 26px 26px 26px;
    -webkit-border-radius: 26px 26px 26px 26px;
    -webkit-box-shadow: 10px 10px 36px -3px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 10px 10px 36px -3px rgba(0, 0, 0, 0.46);
    box-shadow: 10px 10px 36px -3px rgba(0, 0, 0, 0.46);
}

.texto {
    position: absolute;
    margin-top: 230px;
    margin-left: 400px;
    transform: translateY(-40%);
    border-collapse: separate;
    border-spacing: 15px;
}

.summary {
    position: absolute;
    margin-top: 40px;
    margin-left: 420px;
    font-size: 1.5rem;
}

.color1 {
    color: hsl(0, 100%, 67%);
    background-color: hsl(0, 100%, 67%, 15%);
    width: 250px;
    height: 50px;
    padding-left: 20px;
    border: 10px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    overflow: hidden;


}

.color2 {
    color: hsl(39, 100%, 56%);
    background-color: hsl(39, 100%, 56%, 15%);
    width: 250px;
    height: 50px;
    padding-left: 20px;
    border: 10px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    overflow: hidden;
}

.color3 {
    color: hsl(166, 100%, 37%);
    background-color: hsl(166, 100%, 37%, 15%);
    width: 250px;
    height: 50px;
    padding-left: 20px;
    border: 10px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    overflow: hidden;
}

.color4 {
    color: hsl(234, 85%, 45%);
    background-color: hsl(234, 85%, 45%, 15%);
    width: 250px;
    height: 50px;
    padding-left: 20px;
    border: 10px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    overflow: hidden;
}

.yourresult {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: rgb(172, 171, 171);

}

.next {
    color: white;
    width: 275px;
    height: 40px;
    border-radius: 83px 83px 83px 83px;
    -moz-border-radius: 83px 83px 83px 83px;
    -webkit-border-radius: 83px 83px 83px 83px;
    border: 0px solid #000000;
    font-size: 15px;
    background-color: hsl(224, 30%, 27%);
    position: absolute;
    /*Con esto me deja posicionar*/
    margin-left: 415px;
    /*ajusta la distancia desde la izq*/
    margin-top: 430px;
    /*ajusta la distancia desde arriba*/



}

p {
    display: flex;
    justify-content: center;
    color: rgb(172, 171, 171);
}

.numeros {
    color: black;
    float: right;
    padding-right: 20px;
}

.descripcion {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 65px;
    margin-top: 340px;

    color: rgb(172, 171, 171);
}

.resultado {
    position: absolute;
    margin-top: 20%;
    margin-left: 27%;
    color: white;
    font-size: 4.5rem;
    font-family: 'hankenextrabold';
}

.el100 {
    position: relative;
    margin-top: 70%;
}

h3 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 0.7cm;
}

.circulo {
    width: 200px;
    height: 200px;
    z-index: 9999;
    position: absolute;
    margin-top: 0px;
    margin-left: 80px;
    /*background-color: black;*/
    border-radius: 50%;
    background-image: linear-gradient(to top, rgb(80, 63, 243), rgb(4, 0, 235));
}

.great {
    font-family: 'hankenextrabold';
    font-size: 2rem;
    position: absolute;
    margin-top: 230px;
    margin-left: 135px;

}


* {
    font-family: 'hankenmedium';
    font-size: 18px;
}